*{
    font-family: Montserrat;
    
}
/* nav-bar-only */
header{
    background: #FFFBF0;
    width: 1440px;
height: 715px;
flex-shrink: 0;
}
header nav{
    display: flex;
    justify-content:space-between;
    margin-top: 39px;
    align-items: center;  
}
.div-1{
    display: flex;
    gap: 10.17px;
    color: #363958;
font-family: Montserrat;
font-size: 25.426px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.green{
    color: #A4BC46;
font-family: Montserrat;
font-size: 25.426px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.div-1 img{
    margin-left: 137px;
}
.div-2{
    display: flex;
    gap: 57px;
    color: #3C3C3C;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
}
.p-4{
    margin-right: 137px;
}

/* Banner-start */
.Banner{
    display: flex;
    /* justify-content: center; */
}
.div-3 h2{
    color: #363958;
font-family: "Bebas Neue";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 304px;
margin-left: 135px;

}
.div-3 p{
    margin-left: 135px;
    color: #3E3E3E;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
    max-width: 370px;
}
.yellow{
    color: #FABE4C;
font-family: "Bebas Neue";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.but-1{
    margin-left: 135px;
    width: 170px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
margin-bottom: 231px;
}
.banner-img img{
    margin-top: 132px;
    margin-left: 250px;
    max-width: 40%; 
    height: auto;
    margin-top: 0;
}