*{
    font-family: Montserrat;
    
}
/* nav-bar-only */
header{
    background: #FFFBF0;
    width: 1440px;
height: 600px;
flex-shrink: 0;
}
header nav{
    display: flex;
    justify-content:space-between;
    margin-top: 39px;
    align-items: center;  
}
.div-1{
    display: flex;
    gap: 10.17px;
    color: #363958;
font-family: Montserrat;
font-size: 25.426px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.green{
    color: #A4BC46;
font-family: Montserrat;
font-size: 25.426px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.div-1 img{
    margin-left: 137px;
}
.div-2{
    display: flex;
    gap: 57px;
    color: #3C3C3C;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
}
.p-4{
    margin-right: 137px;
}

.div-3{
    margin-left: 135px;
}
/* starting-pages-Banner-start */
.Banner{
    display: flex;
    /* justify-content: center; */
}
.ban-latter{
    color: #363958;
font-family: "Bebas Neue";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 304px;
margin-left: 135px;

}
.div-3 p{
    /* margin-left: 135px; */
    color: #3E3E3E;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
    max-width: 370px;
}
.yellow{
    color: #FABE4C;
font-family: "Bebas Neue";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.but-1{
    /* margin-left: 135px; */
    width: 170px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
margin-bottom: 231px;
border: none;
}
.banner-img img{
    margin-top: 132px;
    margin-left: 440px;
    max-width: 35%; 
    height: auto;
    margin-top: 0;
}




/* banner-part-start */
.banner-2{
    display: flex;
    flex-direction: column; 
}
.ban-img{
    display: flex;
     flex-direction: row; 
     margin-left: 135px;
     justify-content: flex-start;
}
.ban-latter{
    color: #363958;
font-family: "Bebas Neue";
font-style: normal;
line-height: normal;
margin-bottom: 39px;
margin-top: 49px;
}
.ban-1-dev{
    width: 370px;
height: 550px;
flex-shrink: 0;
border-radius: 20px;
background: #FFF;
box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
margin-right: 48px;
}
.first-pic-w{
 
    width: 334px;
height: 327px;
flex-shrink: 0;
border-radius: 20px;
background: #F1F1F1;
margin-right: 48px;
display: flex;
flex-direction: column;    
    align-items: center;
    text-align: center;
}

.title{
    margin-bottom:13px;
}
.first-pic-w img{
    width: 293px;
height: 293px;
flex-shrink: 0;
margin-bottom: 17px;
margin-top: 22px;

 display: block;
}


.ban-dev-2{
    width: 370px;
height: 550px;
flex-shrink: 0;
border-radius: 20px;
background: #FFF;
box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
margin-right: 48px;
}
.second-pic-w{
    width: 334px;
height: 327px;
flex-shrink: 0;
border-radius: 20px;
background: #F1F1F1;
margin-right: 48px;
display: flex;
flex-direction: column;    
    align-items: center;
    text-align: center;
}
.second-pic-w img{
    width: 293px;
height: 293px;
flex-shrink: 0;
margin-bottom: 17px;
margin-top: 22px;
}


.ban-div-3{
    width: 370px;
height: 550px;
flex-shrink: 0;
border-radius: 20px;
background: #FFF;
box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
margin-right: 48px;
}
.third-pic-w{
        width: 334px;
height: 327px;
flex-shrink: 0;
border-radius: 20px;
background: #F1F1F1;
text-align: center;

display: flex;
flex-direction: column;    
    align-items: center;
}
.third-pic-w img{
    width: 293px;
height: 293px;
flex-shrink: 0;
margin-bottom: 17px;
margin-top: 22px;
}

.y-2{
    color: #FABE4C;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-right: 79px;
}

.extra-1{
    display: flex;
}

.but-2{
    width: 170px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);

color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
border: none;
}
